<div id="HowManysBigIcons">

{{#each}}
	{{#unless parent}}
		<div class="row">
			<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#HowManysBigIcons{{unbound name}}">{{unbound name}}</button>

			<div class="row collapse in" id="HowManysBigIcons{{unbound name}}">
			{{#each children}}
				<div class="span2">
					{{#linkTo 'HowManys.index' classNames="btn btn-block"}}
						{{#if icon}}<i class="icon-{{unbound icon}} icon-2x"></i> <br />{{/if}}
						{{{unbound name}}}
					{{/linkTo}}
				</div>
			{{/each}}
			</div>
		</div>
		<br />
	{{/unless}}
{{/each}}

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<div class="row space"><div class="span12"><h1><a href="http://fortawesome.github.io/Font-Awesome/icons/" target"_blank">Tots els icones i molts més són d'aquí</a></h1></div></div>
</div>
