<div id="HowManysBigIcons" class="row">

{{#each itemController="howManysBigIconsItem"}}
	{{#unless parent}}
		<div  {{action "imgChange"}} {{bind-attr class="smallParent:span6:span12"}}>
			<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#HowManysBigIcons{{unbound name}}">{{unbound name}}</button>

			<div class="row collapse in" id="HowManysBigIcons{{unbound name}}">
			{{#each children itemViewClass="App.HowManysBigIconsItemView"}}
				<div {{bind-attr class=":span2 view.offset"}}>
					{{#linkTo 'HowManys.index' classNames="btn btn-block"}}
						{{#if icon}}<i class="icon-{{unbound icon}} icon-2x"></i> <br />{{/if}}
						{{{unbound name}}}
					{{/linkTo}}
				</div>
			{{/each}}
			</div>
		</div>
	{{/unless}}
{{/each}}

</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div class="row">
	<div class="row space"><div class="span12"><h1><a href="http://fortawesome.github.io/Font-Awesome/icons/" target"_blank">Tots els icones i molts més són d'aquí</a></h1></div></div>
</div>
